@media screen and ( max-width: 1256px  )
    html
        font-size: 12px    
    .nav
        &__item
            margin-right: 1rem        

@media screen and ( max-width: 992px )
    .nav
        &__item
            display: none
    .hero 
        &__instagram
            display: none
        &__content
            margin-left: 0
    .types
        .card
            &__title 
                min-height: 2.9rem
            &__pricetag
                font-size: 1.14rem

            
@media screen and ( max-width: 760px )
    .row
        flex-direction: column
        align-items: center
    .col-50
        width: 100%    
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
    .section
        background-color: #181818
        &-title
            &__heading
                &--primary
                    font-size: 1.83rem
                    margin-top: 0
            &__word
                display: block
                &::after
                    display: none
            &__text
                &--left
                    font-size: 1.17rem
                    max-width: 305px
    .footer__wrap--responsive
        display: flex
        flex-wrap: wrap
        justify-content: center

    .swiper
        &-slide
            &__text:nth-child(-n+2)
                
                margin-bottom: 0
            &__heading
                font-size: 1.17rem
            &__value
                font-size: 1.17rem          

    .col-50-margin-top
        margin-top: 30px
    .design
        &__section
            &-title
                color: $light
    .types
        background-color: $light
    .hero::after 
        display: none
    .control
        &__form, &__text 
            color: $light
        &__text 
            font-size: 1.16rem
    .footer
        background: none
        padding: 0
        &__menu
            display: none
        &__wrap
            margin: 0 auto
        &__container
            width: 100% 
        &__wrap
            &--responsive
                background-color: #181818
                padding: 1rem

        &__icon 
            order: 2
    .work
        padding-bottom: 3rem
    .button-up
        visibility: hidden
        

            
@media screen and ( max-width: 570px )

    .contacts
        &__phone
             margin-right: 0
             color: $light
             text-transform: none
        &__button
             display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__content
            margin: auto
            max-width: 22.86rem
        &__button
            width: 100%
            display: block
            margin-bottom: 1.85rem
    .control
        padding-bottom: 0
        
        &__input-group
            flex-basis: 100%
            margin-bottom: 5rem
        &__policy
            margin-top: -4rem
            &__label 
                justify-content: start           

        &__button 
            width: 80%
            margin: auto
            margin-top: 5rem
            order: 4
    .footer
        &__button
            width: 80%
            margin: auto
        &__title
            &__map
                max-width: 25.28rem
        &__input-group
            flex-basis: 100%
            margin-bottom: 5rem
        &__policy
            margin-top: -4rem
            &__label 
                justify-content: start
        
    .types
        &--margin-top
            margin-top: -25px
        &__section
            &-title
                padding-top: 25px




@media screen and ( max-width: 380px )     
    .hero
        &__button
            width: 100%
        &__text
            font-size: 1.5rem
        &__content
            margin: auto
            max-width: 26.7rem        
    .design
        background-color: #252525
    .section
        &-title
            &__text
                color: $light
    .control
        &__button
            width: 100%
    .footer
        &__button
            width: 100%
            margin: auto
        &__map
            min-width: 340px
            min-height: 225px
            max-height: 225px
    .video__play
        max-width: 3.5rem
        max-height: 3.5rem
    .control 
        &__video
            min-height: 17rem
            background: $dark url('../img/video-mask-mobil.jpg') no-repeat center



@media screen and ( max-height: 640px )
    .hero__scroll-down
        display: none