@media screen and ( max-width: 1256px  )
    html
        font-size: 12px    
    .nav
        &__item
            margin-right: 1rem        

@media screen and ( max-width: 992px )
    .nav
        &__item
            display: none
    .hero 
        &__instagram
            display: none
        &__content
            margin-left: 0
    .types
        .card
            &__title 
                min-height: 2.9rem
            &__pricetag
                font-size: 1.14rem

            
@media screen and ( max-width: 760px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
            
@media screen and ( max-width: 570px )
    .contacts
        &__phone
             margin-right: 0
             color: $light
             text-transform: none
        &__button
             display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__content
            margin: auto
            max-width: 22.86rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem


@media screen and ( max-width: 375px )     
    .hero
        &__button
            width: 100%
        &__text
            font-size: 1.5rem
        &__content
            margin: auto
            max-width: 26.7rem        
    .container
        width: 90%
    .design
        background-color: #252525
    .section
        &-title
            &__text
                color: $light

@media screen and ( max-height: 640px )
    .hero__scroll-down
        display: none